html {
    height: 100%;;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #202124;
    direction: ltr;
    font-family: 'Roboto',arial,sans-serif;
    font-size: 15px;
    min-width: 360px;
    overflow-x: hidden;
    overflow-y: auto;
}

#root {
    height: 100%;
}